.AsideItem {
  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 3px 4px 0px #fbf6f6;
    margin: 0 auto;
  }
  &__name {
    text-align: center;
  }
  &__rank {
    text-align: center;
  }
}
