.statistics {
  width: 80%;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 400px;
  margin-top: 2rem;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 81%;
  margin: 0 auto;

  @include tablet {
    text-align: center;
  }
}

@include desktop {
  .grid-statistics {
    display: grid;
    grid-template-columns: repeat(2, 70%);
    gap: 1rem;
    grid-column: 1 / 6;
    grid-row: 1;
  }
}
